html,
body {
    height: 100%;
    background: #eee;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

.mdl-layout {
    align-items: center;
    justify-content: center;
}

.mdl-card__title{
    height: 150px;
}

.mdl-layout__content {
    padding: 24px;
    flex: none;
}

.error{
    color: #ff0000;
}
