@import assets.User
@(form: Form[User])

@main("Login"){
    <div class="centered">
        <div class="headingGroup md-layout__title">
            <h3 style="color:rgb(62,84,175);">Advanced Web Design Project</h3>
            <h4 style="color:rgb(62,50,175);">Subin Sapkota & Beaugh Meyer</h4>
        </div>

        @helper.form(action = routes.Application.authenticate()) {
            <div class="group">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @helper.inputText(form("userName"),
                        'id -> "username",
                        'class -> "mdl-textfield__input",
                        'autocomplete -> "off",
                        '_label -> "Username"
                    )
                </div>
            </div>
            <div class="group">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    @helper.inputText(form("password"),
                        'id -> "password",
                        'type -> "password",
                        'class -> "mdl-textfield__input",
                        'autocomplete -> "off",
                        '_label -> "Password"
                    )
                </div>
            </div>
            @if(form.hasGlobalErrors){
                <div class="group">
                    @form.globalError.message
                </div>
            }
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--accent"
            type="submit">
                Login
            </button>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--accent"
            href="@controllers.routes.Application.register()">
                Register
            </a>
        }
    </div>
}