@import assets.User
@(form: Form[User])

  @main("EgyptianCotton - Register") {
    <div class="mdl-card mdl-shadow--6dp">
        <!-- Card header -->
      <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
        <h2 class="mdl-card__title-text">Sign Up</h2>
      </div>

        <!-- Form -->
      @helper.form(action = routes.Application.registerUser()) {
        <div class="mdl-card__supporting-text">

            <!-- UserName input -->
          <div class="group">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @helper.inputText(form("userName"),
              'id -> "username",
              'class -> "mdl-textfield__input",
              'autocomplete -> "off",
              '_label -> "Username"
            )
            </div>
          </div>

            <!-- Password input -->
          <div class="group">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            @helper.inputPassword(form("password"),
              'id -> "password",
              'type -> "password",
              'class -> "mdl-textfield__input",
              'autocomplete -> "off",
              '_label -> "Password"
            )
            </div>
          </div>

            <!-- generate error messages-->
          @if(form.hasGlobalErrors) {
            <div class="group">
            @form.globalError.message
            </div>
          }

            <!-- Submit - Sign Up button -->
          <div class="mdl-card__actions mdl-card--border">
            <button id="loginButton" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--accent"
            type="submit">
              Sign Up
            </button>
          </div>
        </div>
      }

        <!-- Login page button at header -->
      <div class="mdl-card__menu">
        <a id="registerButton" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--accent"
        href="@controllers.routes.Application.index()">
          Login Page
        </a>
      </div>
    </div>
  }