@import assets.User
@(form: Form[User])

@main("Register"){
    <div class="centered">
        <div class="headingGroup md-layout__title">
            <h3 style="color:rgb(62,84,175);">Register for an account</h3>
        </div>

        @helper.form(action = routes.Application.registerUser()) {
            <div class="group">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @helper.inputText(form("userName"),
                    'id -> "username",
                    'class -> "mdl-textfield__input",
                    'autocomplete -> "off",
                    '_label -> "Username"
                )
                </div>
            </div>
            <div class="group">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @helper.inputText(form("password"),
                    'id -> "password",
                    'type -> "password",
                    'class -> "mdl-textfield__input",
                    'autocomplete -> "off",
                    '_label -> "Password"
                )
                </div>
            </div>
            @if(form.hasGlobalErrors){
                <div class="group">
                @form.globalError.message
                </div>
            }
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--accent"
            type="submit">
                Register
            </button>
        }
    </div>
}